PKGNAME=bsdtools
PKGVERSION=1.0.0
PKGREVISION=1
PKGDISTFILE=https://github.com/erikarn/bsdtools/archive/master.tar.gz
PKGDISTFILE_DESTNAME=bsdtools-master.tar.gz
PKGDISTFILE_SUM_SHA512=dd6c829fa75f6878d667310e051d3e8e5dbf4b4b3d6d989c62521cd0f09d39d66e9093b61e62b2261d175a9b0b53ff27e58bb42f9a416c9ed1bc5a9bfd8cfced
PKGWORKSUBDIR=bsdtools-master
USE_CMAKE=YES
PKG_MAKE_BUILD_SUBDIR="new/src/build"
PKG_MAKE_CMAKE_SUBDIR="new/src"
PKG_MAKE_CMAKE_FLAGS=""
PKG_MAKE_BUILD_FLAGS=""
PKG_INSTALL_BUILD_FLAGS=""

# It's only a build dep; it's static linked instead of shared-linked.
# Not sure why, sigh.
PKG_BUILD_DEPS=""
PKG_RUN_DEPS=""
