PKGNAME=bsdtools
PKGVERSION=1.0.0
PKGREVISION=1
PKGDISTFILE=https://github.com/erikarn/bsdtools/archive/release/1.0.0.tar.gz
PKGDISTFILE_DESTNAME=bsdtools-1.0.0.tar.gz
PKGDISTFILE_SUM_SHA512=a175654b05e5101ad3342e8f0fc4002ffb415f9a0ca7942c430eae2e3985e16f784c0af3f2474bb3d12c8cc180d0666e649bca11eef9b393026875e192944a9a
PKGWORKSUBDIR=bsdtools-release-1.0.0
USE_CMAKE=YES
PKG_MAKE_BUILD_SUBDIR="new/src/build"
PKG_MAKE_CMAKE_SUBDIR="new/src"
PKG_MAKE_CMAKE_FLAGS=""
PKG_MAKE_BUILD_FLAGS=""
PKG_INSTALL_BUILD_FLAGS=""

# It's only a build dep; it's static linked instead of shared-linked.
# Not sure why, sigh.
PKG_BUILD_DEPS=""
PKG_RUN_DEPS=""
