PKGNAME=lua
PKGVERSION=5.3.3
PKGREVISION=1
PKGDISTFILE=https://www.lua.org/ftp/lua-5.3.3.tar.gz
PKGDISTFILE_SUM_SHA512=7b8122ed48ea2a9faa47d1b69b4a5b1523bb7be67e78f252bb4339bf75e957a88c5405156e22b4b63ccf607a5407bf017a4cee1ce12b1aa5262047655960a3cc
PKGWORKSUBDIR=lua-5.3.3
PKG_PRE_BUILD_PATCHLIST="patch-src-Makefile patch-02-libedit patch-03-Makefile"
PKG_LICENCE="BSD"
PKG_MAKE_BUILD_FLAGS='freebsd'
