PKGNAME=radvd
PKGVERSION=2.15
PKGREVISION=1
PKGDISTFILE=http://www.litech.org/radvd/dist/radvd-2.15.tar.gz
PKGDISTFILE_SUM_SHA512=51ed457814f32750f915e22556c739d0a574af6318d469ae77c42fb7dfce8752edc2b70e3dd910d46c6198a5a81e4be4611dd4e379920488f4d4427cda0a7ea0
PKGWORKSUBDIR=radvd-2.15
USE_CONFIGURE=YES
PKG_MAKE_CONFIGURE_FLAGS=""
PKG_MAKE_BUILD_FLAGS=""
PKG_INSTALL_BUILD_FLAGS=""

PKG_BUILD_DEPS=""
PKG_RUN_DEPS=""
