PKGNAME=openrc
PKGVERSION=6ac094a59
PKGREVISION=1
PKGDISTFILE=https://people.freebsd.org/~adrian/openrc/openrc-6ac094a59.tar.gz
PKGDISTFILE_SUM_SHA512=5325a840d7cdd92e33a936419754b1c5cef1437d48c0a3c91a9e7f4dfbbb53ccd5c69736345a18d5c92adbe846e2234b026e54300a6b5981e9e1628f72e357d8
PKGWORKSUBDIR=openrc
USE_CONFIGURE=NO
PKG_MAKE_CONFIGURE_FLAGS=""
PKG_MAKE_BUILD_FLAGS="LOCAL_PREFIX='/usr/local/' PREFIX='/usr/local/'"
PKG_INSTALL_BUILD_FLAGS="LOCAL_PREFIX='/usr/local/' PREFIX='/usr/local/'"

PKG_BUILD_DEPS=""
PKG_RUN_DEPS=""
