PKGNAME=dropbear
PKGVERSION=2016.73
PKGREVISION=1
PKGDISTFILE=https://matt.ucc.asn.au/dropbear/releases/dropbear-2016.73.tar.bz2
PKGDISTFILE_SUM_SHA512=dc538d77b0269c93339b150990b475129a88b0bdc070021c03726955e307407f517049f55b012bf00579d26cd0ff412d88f51c1db540bcbd3d8e4b7cf882bcb8
PKGWORKSUBDIR=dropbear-2016.73
USE_CONFIGURE=YES
PKG_MAKE_BUILD_FLAGS='MULTI=1'
PKG_INSTALL_BUILD_FLAGS='MULTI=1'

# I can't seem to put PACKAGES="" into the build_flags variables above; it
# doesn't get expanded right when it gets handed to gmake and terrible things
# happen.

PKG_PRE_BUILD_PATCHLIST="patch-Makefile.in"
