PKGNAME=dnsmasq
PKGVERSION=2.76
PKGDISTFILE=www.thekelleys.org.uk/dnsmasq/dnsmasq-2.76.tar.xz
PKGWORKSUBDIR=dnsmasq-2.76
USE_CONFIGURE=YES
CONFIGURE_OPTIONS=""
PKG_MAKE_BUILD_FLAGS=""
PKG_INSTALL_BUILD_FLAGS=""

PKG_PRE_BUILD_PATCHLIST="patch-Makefile"
